@model IEnumerable<LMS_WEB.Models.DTO.Book.BookDTO>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
@using LMS_Utility;
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Book List</h1>
        </div>
        <div class="col text-end pt-1">
            @if (httpAcc.HttpContext.Session.GetString(SD.SessionToken) != null &&
            httpAcc.HttpContext.Session.GetString(SD.SessionToken).ToString().Length > 0)
            {
                <a asp-controller="Book" asp-action="CreateBook" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Book</a>
            }
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    BookkID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Publisher
                </th>
                <th>
                    Language
                </th>
                @*   <th>
                ISBN
                </th>
                <th>
                CallNumber
                </th>*@
                <th>
                    MaxIssueDays
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BookId</td>
                    <td>@item.Title</td>
                    <td>@(item.Description)</td>
                    <td>@item.Publisher</td>
                    <td>@item.Language</td>
                    @* <td>@item.ISBN</td>
                    <td>@item.CallNumber</td>*@
                    <td>@item.MaxIssueDays</td>


                    <td>
                        @if (httpAcc.HttpContext.Session.GetString(SD.SessionToken) != null &&
                       httpAcc.HttpContext.Session.GetString(SD.SessionToken).ToString().Length > 0)
                        {
                            <a asp-controller="Book" asp-action="UpdateBook" asp-route-BookId="@item.BookId" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                            <a asp-controller="Book" asp-action="DeleteBook" asp-route-BookId="@item.BookId" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



